# 1. Web Scraping for HVN Stock Price

In [ ]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [2]:
import pandas as pd
import urllib.request # we are going to need to generate a Request object - avoid HTTP 404 
from bs4 import BeautifulSoup

In [3]:
url = "https://finance.vietstock.vn/HVN-tong-cong-ty-hang-khong-viet-nam-ctcp.htm" #url for HVN stock

In [4]:
# here we define the headers for the request - avoid HTTP 404  
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:63.0) Gecko/20100101 Firefox/63.0'}

In [5]:
# this request object will integrate your URL and the headers defined above - avoid HTTP 404 
req = urllib.request.Request(url=url, headers=headers)

In [ ]:
# calling urlopen this way will automatically handle closing the request - avoid HTTP 404  
with urllib.request.urlopen(req) as response:
    page_html = response.read()

page_html

In [ ]:
page_html = BeautifulSoup(page_html, 'html5lib') #represents the document as a nested data structure
page_html #check the html

Inspect the Web and see the price is in ```id="stockprice"```

In [17]:
hvn_price = page_html.find_all(id="stockprice")
hvn_price

In [9]:
type(hvn_price) #check the type of the price

bs4.element.ResultSet

The result show is "resultset" type so the web store it like a table

In [10]:
# Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas
hvn_data = pd.DataFrame(columns=["Stock Price"])

h_price = int(hvn_price[0].text.replace(",","")) #delete "," then convert string to int

hvn_data = hvn_data.append({"Stock Price":h_price}, ignore_index=True)

In [11]:
hvn_data.head()

  Stock Price
0       21150

# 2. Predict Earn or Lose Money

In [12]:
#The stock volume and stock price in the time that stockholder bought it
hvn_buy = pd.DataFrame(columns=["Price", "Volume"])

price = [26800, 10000]
volume= [1100, 350]

hvn_buy['Price'] = price
hvn_buy['Volume'] = volume

In [13]:
hvn_buy

   Price  Volume
0  26800    1100
1  10000     350

In [14]:
hvn_data["Stock Price"]  #check the type of Stock Price
hvn_data["Stock Price"] = hvn_data["Stock Price"].astype(int) #convert from object to int in pandas
hvn_data["Stock Price"]

0    21150
Name: Stock Price, dtype: int64

In [15]:
#Stock price min to start earning money
total_buy = 0
total_volume = 0

for i in range(len(hvn_buy)):
  total_buy = total_buy + hvn_buy['Price'][i]*hvn_buy['Volume'][i]
  total_volume= total_volume + hvn_buy['Volume'][i]

hvn_min = total_buy/total_volume
hvn_min

22744.827586206895

In [16]:
#Show the result
money = hvn_data["Stock Price"][0]*total_volume - total_buy
if money > 0:
  print("Earn Money: ", money)
else:
  print("Lost Money: ", abs(money))

Lost Money:  2312500