# 1. Web Scraping for HVN Stock Price

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [2]:
import pandas as pd
import urllib.request # we are going to need to generate a Request object - avoid HTTP 404 
from bs4 import BeautifulSoup

In [3]:
url = "https://finance.vietstock.vn/HVN-tong-cong-ty-hang-khong-viet-nam-ctcp.htm" #url for HVN stock

In [4]:
# here we define the headers for the request - avoid HTTP 404  
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:63.0) Gecko/20100101 Firefox/63.0'}

In [5]:
# this request object will integrate your URL and the headers defined above - avoid HTTP 404 
req = urllib.request.Request(url=url, headers=headers)

In [6]:
# calling urlopen this way will automatically handle closing the request - avoid HTTP 404  
with urllib.request.urlopen(req) as response:
    page_html = response.read()

In [ ]:
page_html = BeautifulSoup(page_html, 'html5lib') #get the response in nested html
page_html #check the html

Ispect the website and see the stock price is in ```id = "stockprice"```

In [9]:
hvn_price = page_html.find_all(id="stockprice")
hvn_price

In [10]:
type(hvn_price) #check the type of the price

bs4.element.ResultSet

The result show is "resultset" type so the web store it like a table

In [11]:
# Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas
hvn_data = pd.DataFrame(columns=["Stock Price"])
 
h_price = int(hvn_price[0].text.replace(",","")) #delete "," then convert string to int
 
hvn_data = hvn_data.append({"Stock Price":h_price}, ignore_index=True)

In [ ]:
hvn_data.head()

  Stock Price
0       20950

# 2. Get Input for Stock price and volume

In [ ]:
#The stock volume and stock price in the time that stockholder bought it
hvn_buy = pd.DataFrame(columns=["Price", "Volume"])

In [ ]:
#Get input from user/stockholder
count_buy = int(input("Please enter how many time you bought stock price: "))
price = []
volume = []

for count in range(0,count_buy):
  new_buy = int(input("Please enter the stock price that you bought: "))
  new_volume = int(input("Please enter the stock volume that you bought: "))

  price.append(new_buy)
  volume.append(new_volume)

Please enter how many time you bought stock price: 2
Please enter the stock price that you bought: 26800
Please enter the stock volume that you bought: 1100
Please enter the stock price that you bought: 10000
Please enter the stock volume that you bought: 310

In [ ]:
# if not change recently, use this code
# price = [26800, 10000]
# volume= [1100, 310]

In [ ]:
hvn_buy['Price'] = price
hvn_buy['Volume'] = volume
hvn_buy

   Price  Volume
0  26800    1100
1  10000     310

# 3. Predict Earn or Lose Money

In [12]:
hvn_data["Stock Price"]  #check the type of Stock Price
hvn_data["Stock Price"] = hvn_data["Stock Price"].astype(int) #convert from object to int in pandas
hvn_data["Stock Price"]

0    20950
Name: Stock Price, dtype: object

In [ ]:
#Stock price min to start earning money
total_buy = 0
total_volume = 0
 
for i in range(len(hvn_buy)):
  total_buy = total_buy + hvn_buy['Price'][i]*hvn_buy['Volume'][i]
  total_volume= total_volume + hvn_buy['Volume'][i]
 
hvn_min = total_buy/total_volume
hvn_min

23106.382978723403

In [ ]:
#Show the result
money = hvn_data["Stock Price"][0]*total_volume - total_buy
if money > 0:
  print("Earn Money: ", money)
else:
  print("Lost Money: ", abs(money))

Lost Money:  3040500